---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("March 16 2023")}
	heroImage="/about.jpg"
>
	<p>
		Hey there! I'm Roberto, originally from Mexico. Anime, video games, and
		tattoos? Totally my vibe! You can always find me catching up on the
		latest anime series or diving into a new video game world. When I'm not
		glued to a screen, I'm probably planning my next tattoo. It's a way to
		express myself and tell my own story through art. Being Mexican, my
		cultural background is super important to me, and I love incorporating
		those influences into the things I enjoy.
	</p>
	<p>
		Video games are my other escape pod. There's nothing quite like stepping
		into another world, whether it's mastering the perfect combo in a
		fighting game or exploring a vast open-world RPG. Right now, I'm
		obsessed with Helldivers 2. But hey, I'm always down to try something
		new, especially if it has a killer soundtrack those Japanese composers
		know what they're doing!
	</p>
	<p>
		And then there are tattoos. Every tattoo after that has been a piece of
		me, a character from my favorite anime, a weapon from a beloved game
		it's all part of the grand narrative of Roberto. Maybe it's a bit
		cliché, but anime, video games, and tattoos, these are the things that
		make me tick. They fuel my creativity, take me on adventures, and
		connect me with people who share the same passions. So, what are you
		into? You up for geeking out sometime?
	</p>
</Layout>
